<!DOCTYPE html>
<html ng-app="landMineSearchClient" ng-controller="indexController as indexVM">
<head>
    <title>Land Mine Search Client</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div ng-view></div>
    



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/factories")
    @Scripts.Render("~/bundles/directives")
    @Scripts.Render("~/bundles/filters")
    @Scripts.Render("~/bundles/services")
    @Scripts.Render("~/bundles/controllers")
    @*@RenderSection("scripts", required: false)*@

</body>
</html>